/*reset css*/
/* Change all elements to use border-box */
@import 'normalize.css';
html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

/* theme styles */
.background-primary
{
    background: #F7941E;
}
.background-secondary
{
    background: #00AEEF;
}
.background-tertiary
{
    background: #8DC63F;
}

  /*Color List:
  - light blue = 00AEEF;
  - dark blue = 1C75BC
  - green = 8DC63F
  - dark green = 009444
  - orange = F7941E
  - dark orange = F15A29
  - brown = 594a42; */

/*base styles*/
body
{
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1, h2, h3
{
    font-weight: bold;
}
a
{
    color: #8dc63f;
    font-weight: bold;
}
a:hover
{
    text-decoration: underline;
}

/*Layout Styles*/
.container
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

/*row*/
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*layout styles*/
[class*='col-']
{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }
    /* Column Third */
    .col-1-3 {
        width: 33.3333%;
    }
    /* Column Two Thirds */
    .col-2-3 {
        width: 66.6666%;
    }
}




/* #timerSection
{
    border: 4px solid red;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    align-content: center;
}

.center_this
{
    margin: auto;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
    padding: 10px;
    font-size: 5em;
    
}

.center_this_small
{
    margin: auto;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#form
{
    border: 4px solid red;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

section
{
    border: 4px solid red;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    align-content: center;
} */